.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--ds-size-screen-h);
  padding: var(--ds-spacing-8);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--ds-spacing-4);
  text-align: center;
}
