.divider {
  border: none;
  border-top-width: var(--ds-border-width-thin);
  border-top-style: solid;
  border-top-color: var(--ds-color-border-subtle);
  margin: var(--ds-spacing-4) var(--ds-spacing-0);
}
