*,
*::before,
*::after {
  box-sizing: border-box;
  margin: var(--ds-spacing-0);
  padding: var(--ds-spacing-0);
}

html {
  font-family: var(--ds-font-family-sans);
  font-size: var(--ds-layout-font-base);
  line-height: var(--ds-line-height-normal);
  color: var(--ds-color-text-primary);
  background-color: var(--ds-color-bg-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: var(--ds-size-screen-h);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: var(--ds-size-full);
}

ul,
ol {
  list-style: none;
}
